<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cxstudio.market.updater.persistent.mapper.PatternMapper">

	<resultMap id="PatternResult" type="com.cxstudio.market.pattern.model.CandidatePattern">
	    <result property="patternId" column="pattern_id" />
	    <result property="confidence" column="confidence" />
	    <result property="average_performance" column="averagePerformance" />
	    <collection property="steps" javaType="List" ofType="com.cxstudio.market.pattern.model.Step" resultMap="StepResult" />
	</resultMap>
	
	<resultMap id="StepResult" type="com.cxstudio.market.pattern.model.Step">
	    <result property="change" column="change" />
	    <result property="index" column="index" />
	    <result property="time" column="date_time" />
	</resultMap>
	
	<select id="selectPatterns" resultMap="PatternResult">
	    SELECT p.pattern_id, p.confidence, p.performance as average_performance, p.trend,
	    s.change, s.index, s.date_time
	    FROM pattern p INNER JOIN pattern_step s ON s.pattern_id = p.pattern_id
	    WHERE 1
	    <if test="qualifier.confidenceThreashold > 0">
	    	AND p.confidence > #{qualifier.confidenceThreashold}
	    </if>
	    <if test="qualifier.performanceThreashold > 0">
	    	AND p.performance > #{qualifier.performanceThreashold}
	    </if>
	    <if test="qualifier.trendThreashold > 0">
	    	AND p.trend > #{qualifier.trendThreashold}
	    </if>
	     
	</select>
	
	<insert id="insertPattern" parameterType="com.cxstudio.market.pattern.model.CandidatePattern" useGeneratedKeys="true" keyProperty="pattern.patternId" keyColumn="pattern_id">
  	 INSERT INTO pattern (`confidence`,
						`performance`,
						`trend`,
						`config`,
						`base_trade_id`
      ) VALUES (           
         #{pattern.confidence},
		 #{pattern.averagePerformance},
		 #{pattern.trend},
		 #{pattern.patternConfig.serialized},
		 #{pattern.baseTrade.tradeId}
      )
  	</insert>
  	
  	<insert id="insertSteps">
	  	 INSERT INTO pattern_step (`pattern_id`,
							`change`,
							`index`,
							`date_time`
	      ) VALUES
	    <foreach collection="steps" item="step" separator=","> 
	      (           
	         #{patternId},
			 #{step.change},
			 #{step.index},
			 #{step.time}
	      )
	    </foreach>
  </insert>
  	
</mapper>